:root {
  --dawntreader-header: 'Chakra Petch', sans-serif;
  --dawntreader-ff: 'Questrial', sans-serif;

  --join-round-corners: 10px;
  --floating-card: 2px 2px 0.5rem black;
}

/*  
   ========================================================================= 
   =                         KEVIN POWELL CSS RESET                        =   
   =========================================================================  
   */

/*  Source: https://www.youtube.com/shorts/2lyDv0wOQuQ */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* {
  margin: 0;
  padding: 0;
}

/* dark mode user-agent-styles */
/* html {
 color-scheme: dark light;
  } */

body {
  min-height: 100vh;
  background: #eee;
}

html {
  font-family: var(--dawntreader-header);
  font-size: 1.125rem;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
select {
  font-size: inherit;
}

/*  
   ========================================================================= 
   =                          BASIC STYLING BY ME                          =   
   =========================================================================  
   */

h1,
h2,
h3 {
  font-family: var(--dawntreader-ff);
  line-height: 1.3;
  font-size: 1.8em;
  text-align: center;
  padding: 1rem 0;
}

p {
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*  
   ========================================================================= 
   =                             MEMBERS HTML                              =   
   =========================================================================  
   */

.fc-members-display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.fc-member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
}

.fc-member-selector {
  padding-top: 1rem;
}

.member-image {
  max-width: min(600px, 38vw);
}

@media screen and (max-width: 1080px) {
  .member-image {
    max-width: 100%;
  }
}

@media screen and (min-width: 1080px) {
  .fc-members-display {
    flex-direction: row-reverse;
  }
}
